@page "{id:int}"
@model ReadingLogger.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <table class ="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.CurrentBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Section)
            </th>
        </tr>
        <tr>
        
        <td>
            @Html.DisplayFor(model => model.Student.FirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Student.LastName)
        </td>
        
        <td>
            @Html.DisplayFor(model => model.Student.Teacher)
        </td>
        
        <td>
            @Html.DisplayFor(model => model.Student.CurrentBook)
        </td>
        
        <td>
            @Html.DisplayFor(model => model.Student.Section)
        </td>
        
            </tr>
        </table>
    <h4>
    @Html.DisplayNameFor(model => model.Student.Entries)
    </h4>

        <dd>
            <table class="table">
                <tr>
                    <th>Book Title</th>
                    <th>Minutes</th>
                    <th>Pages</th>
                    <th>Log Date</th>
                </tr>
                @foreach (var item in Model.Student.Entries)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Minutes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pages)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LogDate)
                        </td>
                    </tr>

                }
            </table>
        </dd>
    </dl>


</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
